body {
    background-color: rgb(251, 251, 251);
}
header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 15px;
    flex-grow: 1;
}
nav a {
    color: rgb(7, 198, 250);
    margin-left: 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
#PageLogo {
    max-width: 140px;
    max-height: 140px;
    margin-top: 15px;
}
@media (max-width: 600px) {
    nav {
        font-size: 16px;
    }
    nav a {
        margin-left: 10px;
    }
    #PageLogo {
        max-width: 100px;
        max-height: 100px;
    }
}
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.footer-content {
    margin-bottom: 10px;
}
.footer-links {
    list-style-type: none;
    padding: 0;
}
.footer-links li {
    display: inline;
    margin: 0 10px;
}
.footer-links a {
    text-decoration: none;
    color: rgb(7, 198, 250);
}
.footer-links a:hover {
    text-decoration: underline;
}
.styleFormular
{
font-size:25px;
font-weight:bold;
font-family: arial,sans-serif;
}
h2
{
    font-family: Arial, sans-serif;
    font-size: 40px;
}
#E-MailProjekt
{
    font-family: Arial, sans-serif;
}
#button
{
    width: 150px;
    height: 50px;
    background-color:rgb(7, 198, 250);
    color:white;
    font-size: 30px;
    border-radius: 20px;
    border-width:0px;
}
#container
{
    margin-left:5%;
    margin-top:5%;
    margin-bottom:5%;
}