
        body {
            background-color: rgb(251, 251, 251);
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            font-family: Arial, sans-serif;
            margin: 0;
        }
        header {
            padding: 10px 0;
            display: flex;
            align-items: center;
        }
        #PageLogo {
            max-width: 140px;
            margin: 15px;
        }
        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Courier New', Courier, 'monospace';
            margin-left: 15px;
            flex-grow: 1;
        }
        nav a {
            color: rgb(7, 198, 250);
            margin-left: 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
        main {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 20px;
        }
        #conversation {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            overflow-y: auto; /* Aktiviert vertikales Scrollen */
            max-height: 52vh; /* Setze die maximale Höhe des Konversationsbereichs */
            padding: 10px; /* Füge etwas Padding hinzu */
            border: 1px solid rgb(200, 200, 200); /* Optional: füge einen Rand hinzu */
            border-radius: 10px; /* Optional: abgerundete Ecken */
            width: 75%;
            align-self: center;
            background-color: lightgrey;
        }
        
        
        #questionContainer{
            width:100%;
        }
        
        .question-bubble {
            background-color: lightcyan;
            padding: 10px;
            border-radius: 10px;
            max-width: 60%;
            margin-bottom: 5px;
            width: fit-content;
            font-size: 20px;
            word-wrap: break-word; /* Erlaubt Zeilenumbruch */
            overflow-wrap: break-word; /* Kompatibel mit verschiedenen Browsern */
            white-space: normal; /* Setzt den Textfluss zurück auf den normalen Fluss */
        }
        
        .answer-bubble {
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            max-width: 60%;
            margin-left: auto; 
            text-align: left;
            width: fit-content;
            font-size: 20px;
            word-wrap: break-word; /* Erlaubt Zeilenumbruch */
            overflow-wrap: break-word; /* Kompatibel mit verschiedenen Browsern */
            white-space: normal; /* Setzt den Textfluss zurück auf den normalen Fluss */
        }
        
        
        #userInput {
            display: flex;
            justify-content: center;
            padding: 10px;
            background-color: rgb(251, 251, 251);

        }
        input {
            text-align: center;
            width: 50%;
            border-radius: 20px;
            font-size: 20px;
            padding: 8px;
        }
        button {
            border-radius: 10px;
            width: 100px;
            font-size: 20px;
            background-color: rgb(7, 198, 250);
            color: white;
            margin-left: 10px;
        }
        footer {
            background-color: rgb(251, 251, 251);
            padding: 20px;
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .footer-content {
            margin-bottom: 10px;
        }
        .footer-links {
            list-style-type: none;
            padding: 0;
        }
        .footer-links li {
            display: inline;
            margin: 0 10px;
        }
        .footer-links a {
            text-decoration: none;
            color: rgb(7, 198, 250);
        }
        .footer-links a:hover {
            text-decoration: underline;
        }
   
